
<div>
    {{{head}}}
</div>

<!--header -->

<div id="main-layout">
    {{{body}}}
</div>

<div>
    {{{head}}}
</div>
<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!--footer -->