<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body id="page-top">
        {{>nav}}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                {{!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." /> --}}
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">AUTOSERVISAS</h1>
                <!-- Icon Divider iiiiiiiiiiiii    -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Automobilių remontas</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <!-- About Section-->
        <section class="page-section  mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase ">
                    {{title}}
                </h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>                
            </div>
        </section>

        <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                         
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pavadinimas</th>
                                    <th>Kaina</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each paslaugos}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{price}} </td>
                                </tr>
                                {{~/each}}
                            </tbody>
                        </table>
                    </div>
                   
                </div>
        
       
        <!-- Footer-->
        {{>footer}}
    </body>
</html>
