<form method="post" action="submit">
<p>
    <label>Pavadinimas</label>
    <input type="text" name="pavadinimas">
</p>

<p>
    <label>Turinys</label>
    <textarea name="turinys"></textarea>
</p>

<p>
    <label>Data</label>
    <input type="date" name="data">
</p>

<p>
    <button type="submit" value="Pridėti įrašą">  Pridėti įrašą  </button>
</p>

</form>

<p></p>
<p>
    <a href="/irasai">Visi įrašai</a>
</p>
