<h3>Paieška įrašų duomenų bazėje</h3>
<p>
<form method="POST" action="/irasai/paieska">
    <label>PAIEŠKA</label>
        <input type="text" name="s" />

     <button type="submit" value="Ieškoti"  > Ieškoti </button>
</form>
<p>

<p>
    <a href="/irasai">Visi įrašai</a>
</p>
<p>
    <a href="/irasai/pridejimas">Pridėti naują įrašą</a>
</p>
   


