<h3>Įrašo {{id}} peržiūra</h3>

<div>
<h4>
    Pavadinimas: 
</h4>
<p>{{preview.pavadinimas}}</p>
<h4>Turinys:</h4>
<p>{{preview.turinys}}</p>
<p><b>Data:</b> {{preview.data}}</p>

</div>

<p>
    <a href="/irasai">Visi įrašai</a>
</p>
<p>
    <a href="/">Paieška</a>
</p>
