<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>

    <!-- mano css -->
    <link href="/style/style.css" rel="stylesheet"/>

</head>
<body>
<div class="container text-center align-middle">
    <h2 class="main-header">KLAIDA (404)</h2>
    <h1>Puslapis nerastas</h1>
    <a href="/">
        <h3>Grįžti</h3>
    </a>    
</div>
<div class="">
    <img src="img/google.JPG" alt="form-image">
</div>
    
    
</body>
</html>